{% extends "layout.html" %}
{% block body %}
<!--Navigation-->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                    <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="light">见鬼的小站</span>
                </a>
            </div>

            <!--Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!--Hidden li included to remove active class from about link when scrolled up past about section-->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#use">use</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </div>
        <!--/.container-->
    </nav>

    <!--Intro Header-->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">虾米自动签到</h1>
                        <p class="intro-text">帮你从每天签到的地狱里解脱出来.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--About Section-->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>关于本站</h2>
                <p><strong>写在前面:</strong>虽然现在很少在虾米听歌，却已在虾米签到了一千多天，<br>中间漏签多次，颇为烦恼，于是本站就此诞生</p>
                <p><strong>使用方法:</strong>在下面的输入框中填上你的虾米账号和密码，登记即可。<br>若中途更改密码，重新登记就行</p>
                <p><strong>注意事项:</strong>本站会记录你的密码，所以请不要使用常用密码来登记，<br>若账号比较重要，就不建议在这里登记</p>
            </div>
        </div>
    </section>

    <!--Download Section-->
    <section id="use" class="content-section text-center">
        <div class="use-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="col-lg-6 col-lg-offset-3">
                        <h3>登录或者查询</h3>
                        <form class="simple_form new_talent" method="POST" name="form">
                            <div class="from-group">
                            <p><input class="form-control" id="email" name="email" placeholder="your email" value="" type="text"></p>
                            <P><input class="form-control" id="password" name="password" placeholder="your password" value="" type="password"></P>
                            <P><a class="btn btn-default btn-block" name="checkin" href="#use">查 询 / 登 记</a></P>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Contact Section-->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>联系方式</h2>
                <p>若有疑问，可以通过以下方式联系到我=ω=</p>
                <p><a href="mailto:y_jw@outlook.com">279838089@qq.com</a>
                </p>
               
            </div>
        </div>
    </section>
    {%endblock%}