name: xiamichecker
version: 1

handlers:
- url: /XiamiAutoSignin/static
  static_dir: static

libraries:
- name: jinja2
  version: "2.6"

- name: flask-sqlalchemy
  version: "0.15"

cron:
- description: auto_checkin
  url: /task
  schedule: "37 1 * * *"
